*.pyc

.pydevproject
.project
.settings

src/build
src/main.cfg
src/countries/france/data/sources/final.csv
src/countries/france/data/sources/final*.csv
src/countries/france/data/survey_old.h5
src/countries/france/data/survey.h5
