*.pyc

.pydevproject
.project
.settings
.settings/org.eclipse.core.resources.prefs

build
src/openfisca_crash.log
src/build
src/main.cfg
src/france/data/sources/final.csv
src/france/data/sources/final*.csv
src/france/data/survey.h5
src/france/data/survey_old.h5

src/countries/france/data/sources/final.csv
src/countries/france/data/sources/final*.csv
src/countries/france/data/survey_old.h5
src/countries/france/data/survey.h5
src/countries/france/data/survey_sparse.h5
src/countries/france/data/survey3.h5
src/countries/france/data/erf/erf.h5
src/countries/france/data/erf/erf_old.h5
src/countries/france/data/erf/temp.h5
src/countries/france/data/sources/test.h5
src/countries/france/data/sources/test3.h5
src/countries/france/data/survey_sparse.h5
src/countries/france/data/sources/config.py

src/countries/tunisia_pension/data/sources/survey.h5